//color
$blue: #1697F6;
$dark-blue:#1867C0;
// loader animation
$bg-color: #22292B;
$line-color: linear-gradient(to right, #ff0066 0%,#ff00cc 100%);
$line-height: 4px;
$text-color:$blue;
$text-size: 4em;
$sub-text-color: black;

$margin-leftbar:5%;

