//color
$orange: #ff724c;

// loader animation
$bg-color: #22292B;
$line-color: linear-gradient(to right, #ff0066 0%,#ff00cc 100%);
$line-height: 4px;
$text-color: $orange;
$text-size: 4em;
$sub-text-color: black;

